*{
    padding: 0;
    margin: 0;
}
h4{
    padding:0;
    margin:0;
    line-height:1.3;
    font-weight:600;
}
p{
    padding:0;
    margin:0;
    line-height:1.3;
    font-weight:600;
    color: gray;
    font-size: 0.7rem;
}
body{
    background-color: #eee;
}
#root{
    width: 1000px;
    background-color: #ffffff;
    margin: 0 auto;
}
.youheader{
    position: fixed;
    /* text-align: center; */
    width: 500px;
    height: 60px;
    background-color: #ffffff;
    margin-left: 220px;
    display: flex;
    /* border: 1px solid red; */
}
.logo{
    width: 100px;
    padding: 10px;
}
input{
    width: 200px;
    height: 30px;
    /* padding-bottom: 50px; */
}
.insear{
    /* margin-left: 150px; */
    padding: 15px;
}
#search{
    width: 60px;
    height: 30px;
    margin-left: 20px;
}
#video{
    position: fixed;
    text-align: center;
    width: 560px;
    background-color: #ffffff;
    top: 80px;
    
}
.youmain{
    padding: 400px 18px 10px;
}
.thumb{
    height: 70px;
    border-radius: 4px;
}
.youarticle{
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border: 2px solid white;
    border-radius:8px;
    margin: 0 auto;
    width: 700px;
    cursor:pointer;
}
.youarticle:hover{
    border:2px solid #ff9999;
    
}
.details{
    padding: 8px 22px;
}
#video{
    width: 1000px;
    margin: 0 auto;
    background: white;
}
iframe{
    margin: 0 auto;
}